<h1>Custom URL Scheme Test (Auto)</h1>
<script type="text/javascript">
  var checkedAt = new Date();
  setTimeout(function() {
    var t = new Date() - checkedAt;
    if (t < 2000) {
      window.location = "https://itunes.apple.com/jp/app/showroom-wu-liaode-sheng-fang/id734256893?mt=8";
    }
  }, 1000);
  window.location = "showroom://";
</script>
